@model User

<h2>Kullanıcı Ekle</h2>
<br />

<form asp-controller="User" asp-action="Create" method="post">
	<div asp-validation-summary="All"></div>
	<div class="mb-3">
		<label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
		<input asp-for="UserName" class="form-control">
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="UserSurname" class="form-label">Kullanıcı Soyadı</label>
		<input asp-for="UserSurname" class="form-control">
		<span asp-validation-for="UserSurname" class="text-danger"></span>
	</div>
	
	<button class="btn btn-primary" type="submit" >Kaydet</button>

</form>